<article class="w-100 bt b--black-10 bg-white black-80 ph3 ph5-ns pv4 pv5-ns" id="getting-started">
    <div class="mw9 center">
    <h1 class="mt0 f5 f3-ns">Getting Started</h1>
    <p class="f5 measure lh-copy">
      Once you've downloaded Etta as above, copy the line of code below and paste it in the head of the html file(s) you want to include Etta in.
    </p>
<pre class="pre black-70" style="overflow: auto"><code class="code f6 dib pa2 bg-black-70 washed-green" style="font-size: 14px;">&lt;link rel="stylesheet" href="/path/to/etta.min.css"/&gt;</code></pre>
<p class="mt4"><b>or</b> install via npm</p>

<section class="bt b--black-10 pv5 mt5 cf">
<div class="fl-l w-100 w-50-l pr4-ns">
<h3 class="f5 f3-ns mt0">Start a New Project</h3>
<p class="f6 f5-ns measure lh-copy mb4 mt0">
Get setup and running with this ~7 minute screencast. Download the
project and learn how to customize the tachyons source files and
recompile the css using the postcss build system.
</p>
</div>
<div class="fl-l w-100 w-50-l">
<div class="aspect-ratio aspect-ratio--8x5">
<iframe class="aspect-ratio--object" src="https://player.vimeo.com/video/174698456" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
</div>
</section>
</div>

</article>