<article class="w-100 bt b--black-10 bg-white navy ph3 ph5-ns pv4 pv5-ns">
  <div class="mw9 center">

    <section class="cf">
    <h3 class="f5 f3-ns mt0 pb3"><span class="pb1 bb bw2 b--green">{{h1}}</span></h3>
      <p class="f6 f5-ns measure lh-copy mt0 serif">{{d1}}</p>
      <section class="fl w-100 w-50-l">
<pre class="pre" style="overflow: auto"><code class="code f6 dib pa2 bg-navy washed-green">git clone https://github.com/lorcanblake/Service.git
cd Service
npm i
ng serve --o
</code></pre>
      </section>
      <section class="fl w-100 w-50-l">
<pre class="pre" style="overflow: auto"><code class="code f6 dib pa2 bg-navy washed-green">git clone https://github.com/lorcanblake/Service-business.git
cd Service-business
npm i
ng serve --o
</code></pre>
    </section>
    </section>

  <section class="bt b--black-10 pv4 pv5-ns mt5 cf">
    <div class="fl w-100 w-50-l pr4-ns">
      <h1 class="mt0 f5 f3-ns pb3"><span class="pb1 bb bw2 b--green">{{h2}}</span></h1>
      <p class="f6 f5-ns measure lh-copy serif">{{d2}}</p>
<pre class="pre" style="overflow: auto"><code class="code f6 dib pa2 bg-navy washed-green">&lt;!DOCTYPE html&gt;
&lt;html lang="en"&gt;
&lt;title> &lt;/title&gt;
&lt;meta name="viewport" content="width=device-width, initial-scale=1"&gt;
&lt;link rel="stylesheet" href="/path/to/etta.min.css"&gt;
&lt;body&gt;

&lt;/body&gt;
&lt;/html&gt;
</code></pre>
    </div>


    <div class="fl w-100 w-50-l pr4-ns pv4 pt0-l">
      <h3 class="f5 f3-ns mt0 pb3"><span class="pb1 bb bw2 b--green">{{h3}}</span></h3>
      <p class="f6 f5-ns measure lh-copy mt0 serif">{{d3}}</p>
<pre class="pre" style="overflow: auto"><code class="code f6 dib pa2 bg-navy washed-green">git clone https://github.com/lorcanblake/etta.git
cd etta
npm i
ng serve --o
</code></pre>
    </div>
  </section>


  </div>
</article>