<article class="w-100 bt b--black-10 bg-white black-80 ph3 ph5-ns pv4 pv5-ns">
    <div class="mw9 center">
    <h1 class="mt0 f5 f3-ns">Getting Started</h1>
    <p class="f5 measure lh-copy">
      Once you've grabbed Etta, prototyping is as easy as pie:
    </p>
<pre class="pre" style="overflow: auto"><code class="code f6 dib pa2 bg-black-70 washed-green">&lt;!DOCTYPE html&gt;
&lt;html lang="en"&gt;
&lt;title> &lt;/title&gt;
&lt;meta name="viewport" content="width=device-width, initial-scale=1"&gt;
&lt;link rel="stylesheet" href="/path/to/etta.min.css"&gt;
&lt;body&gt;

&lt;/body&gt;
&lt;/html&gt;
</code></pre>

<section class="bt b--black-10 pv5 mt5 cf">
<div class="fl-l w-100 w-50-l pr4-ns">
<h3 class="f5 f3-ns mt0">Start a New Project</h3>
<p class="f6 f5-ns measure lh-copy mb4 mt0">
  ..you know, the type with build processes and stuff:
</p>

<pre class="pre" style="overflow: auto"><code class="code f6 dib pa2 bg-black-70 washed-green">git clone https://github.com/lorcanblake/etta.git
cd etta
npm i
ng serve --o
</code></pre>

</div>
<!-- <div class="fl-l w-100 w-50-l">
<div class="aspect-ratio aspect-ratio--8x5">
<iframe class="aspect-ratio--object" src="https://player.vimeo.com/video/174698456" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
</div> -->
</section>
</div>

</article>