<section class="ph3 ph5-ns pv5">
    <article class="mw7 center br2 ba bg-white">
      <div class="dt-ns dt--fixed-ns w-100">
        <div class="pa3 pa4-ns dtc-ns v-mid">
          <div>
            <h2 class="fw6 mt0 mb3">5ervice </h2>
            <p class="navy serif measure lh-copy mv0">
              This is the front-end prototype for the consumer-facing app.
          </div>
        </div>
        <div class="dtc-ns v-mid pa3 pa4-ns tc-ns">
          <a href="#" class="ph4 pv2 shadow inline-flex items-center no-underline f5 pv3 bg-navy grow white br-pill">View Demo <i-external-link class="ml2"></i-external-link></a>
        </div>
      </div>
    </article>
</section>

<section class="ph3 ph5-ns mb6">
    <article class="mw7 center br2 ba bg-white">
      <div class="dt-ns dt--fixed-ns w-100">
        <div class="pa3 pa4-ns dtc-ns v-mid">
          <div>
            <h2 class="fw6 mt0 mb3">5ervice Business </h2>
            <p class="navy serif measure lh-copy mv0">
              This is the front-end prototype for the vendor-facing app.
            </p>
          </div>
        </div>
        <div class="dtc-ns v-mid pa3 pa4-ns tc-ns">
          <a href="#" class="ph4 pv2 shadow inline-flex items-center no-underline f5 pv3 bg-navy grow white br-pill">View Demo <i-external-link class="ml2"></i-external-link></a>
        </div>
      </div>
    </article>
</section>

