<header class="ph3 ph5-ns pt3 bb bt b--black-10 mb4">
    
  <div class="mw9 center">
    
      <a class="f6 fw3 dib mr3 mb3 pb1 link dim navy ttc" href="#article-lists">Article Lists</a>
    
      <a class="f6 fw3 dib mr3 mb3 pb1 link dim navy ttc" href="#articles">Articles</a>
    
      <a class="f6 fw3 dib mr3 mb3 pb1 link dim navy ttc" href="#avatars">Avatars</a>
    
      <a class="f6 fw3 dib mr3 mb3 pb1 link dim navy ttc" href="#banners">Banners</a>
    
      <a class="f6 fw3 dib mr3 mb3 pb1 link dim navy ttc" href="#buttons">Buttons</a>
    
      <a class="f6 fw3 dib mr3 mb3 pb1 link dim navy ttc" href="#cards">Cards</a>
    
      <a class="f6 fw3 dib mr3 mb3 pb1 link dim navy ttc" href="#collections">Collections</a>
    
      <a class="f6 fw3 dib mr3 mb3 pb1 link dim navy ttc" href="#definition-lists">Definition Lists</a>
    
      <a class="f6 fw3 dib mr3 mb3 pb1 link dim navy ttc" href="#error-pages">Error Pages</a>
    
      <a class="f6 fw3 dib mr3 mb3 pb1 link dim navy ttc" href="#footers">Footers</a>
    
      <a class="f6 fw3 dib mr3 mb3 pb1 link dim navy ttc" href="#forms">Forms</a>
    
      <a class="f6 fw3 dib mr3 mb3 pb1 link dim navy ttc" href="#headers">Headers</a>
    
      <a class="f6 fw3 dib mr3 mb3 pb1 link dim navy ttc" href="#layout">Layout</a>
    
      <a class="f6 fw3 dib mr3 mb3 pb1 link dim navy ttc" href="#links">Links</a>
    
      <a class="f6 fw3 dib mr3 mb3 pb1 link dim navy ttc" href="#lists">Lists</a>
    
      <a class="f6 fw3 dib mr3 mb3 pb1 link dim navy ttc" href="#marketing">Marketing</a>
    
      <a class="f6 fw3 dib mr3 mb3 pb1 link dim navy ttc" href="#nav">Nav</a>
    
      <a class="f6 fw3 dib mr3 mb3 pb1 link dim navy ttc" href="#pages">Pages</a>
    
      <a class="f6 fw3 dib mr3 mb3 pb1 link dim navy ttc" href="#quotes">Quotes</a>
    
      <a class="f6 fw3 dib mr3 mb3 pb1 link dim navy ttc" href="#tables">Tables</a>
    
      <a class="f6 fw3 dib mr3 mb3 pb1 link dim navy ttc" href="#text">Text</a>
    
  </div>
  
</header>


<router-outlet></router-outlet>