<section class="ph3 ph5-ns w-100 pv2">
  <div class="tc-l mv4 pv4 ph3 mw9 center">
    <h2 class="fw1 f5 f4-m f3-l black-80 mv4 lh-copy center-l measure-l">
        Built on Tachyons, <span class="fw7 black">Etta</span> 
      is the front-end component library responsible for providing consistent user experience across the 5ervice platform.
    </h2>
    <a href="" class="shadow f6 fw7 no-underline grow dib v-mid black ba b--black-60 br-pill ph4 pv2 mb3"><i-download class="v-mid black"></i-download> Download v0.0.1</a>
  </div>
</section>