<section class="w-100 pv2 bb b--black-10">
  <div class="blossom-sans-serif tc-l mv4 pv4 ph3 mw9 center">
    <h2 class="fw1 f4 f3-l black-80 mv4 lh-copy center-l measure-l">
      <span class="fw7 black">Blossom</span> 
      provides broad guidelines for the function, form and aesthetic of user interfaces to provide a consistent experience for all 5ervice customers.
    </h2>
    <a routerLink="styleguide" class="f6 fw7 no-underline grow dib v-mid bg-black-10 black ba br-pill ph3 pv2 mb3">Get started</a>
    <span class="dib v-mid ph3 black-70 mb3">or</span>
    <a href="#" class="f6 no-underline grow dib v-mid black ba br-pill ph3 pv2 mb3">Learn more</a>
  </div>
</section> 