<header class="ph3 ph5-ns w-100 bg-transparent pv3 mb4 mb5-ns bb bt b--black-10 overflow-auto">
  <div class="nowrap mw9 center fw3">
    <a title="Getting Started" href="#getting-started" class="pv1-ns f6 fw6 dim link navy mr2 mr3-m mr4-l dib">
      Getting Started
    </a>
    <a title="Principles" href="#principles" class="pv1-ns f6 dim link navy mr1 mr3-m mr4-l dib">
      Principles
    </a>
    <a title="Features" href="#features" class="pv1-ns f6 dim link navy mr1 mr3-m mr4-l dib">
      Features
    </a>
    <a title="Style Guide" href="#style" class="pv1-ns f6 dim link navy mr1 mr3-m mr4-l dib">
      Style Guide
    </a>
    <a title="Testimonials" href="#testimonials" class="pv1-ns f6 dim link navy mr1 mr3-m mr4-l dib">
      Testimonials
    </a>
  </div>
</header>

<router-outlet></router-outlet>