<app-components-nav></app-components-nav>

<section>
    <div class="ph3 ph5-ns pt5" id="style">
      <div class="mw9 center overflow-auto">
          <h3 class="f4 fw7 ttc">Components</h3>
          <p class="lh-copy measure serif">
            This is a quick introduction to some of the building blocks that Tachyons makes available. <!--For a more in-depth look at design principles and how each module works, be sure to check out the <a class="link black underline" title="Etta docs">docs</a>-->
          </p>
          <h3 class="f6 ttu fw6 mb0 mt5 bb pb2">Typography</h3>
        <article class="dt-ns dt--fixed-ns">
          <div class="dtc-ns v-mid overflow-auto">
            <h1 class="f1 lh-title">Level 1 Heading</h1>
            <h2 class="f2 lh-title">Level 2 Heading</h2>
            <h3 class="f3 lh-title">Level 3 Heading</h3>
            <h4 class="f4 lh-title">Level 4 Heading</h4>
            <h5 class="f5 lh-title">Level 5 Heading</h5>
            <h6 class="f6 lh-title">Level 6 Heading</h6>
          </div>
          <div class="dtc-ns v-mid">
  
          </div>
        </article>
      </div>
    </div>
</section>