<nav class="bg-white flex justify-between bb b--black-10 sans-serif">
  <a class="link black-70 hover-black no-underline flex items-center pa3" routerLink="/">
    Blossom
  </a>
  <div class="flex-grow pa3 flex items-center">
    <a class="f6 link dib black dim mr3 mr4-ns">Documentation</a>
    <a routerLink="components" class="f6 link dib black dim mr3 mr4-ns">Components</a>
    <a class="f6 link dib black dim mr3 mr4-ns">Sign In</a>
    <a class="f6 dib black bg-animate hover-bg-white grow no-underline pv2 ph4 br-pill ba">Demo</a>
  </div>
</nav>

<app-components></app-components>

<router-outlet></router-outlet>
