<nav class="w-100 dt pa3 ph5-ns sans-serif">
    <a routerLink="/" (click)="setTitle( 'Etta by 5ervice' )" class="dtc v-mid serif link black-70 hover-navy no-underline pa3 w-25">
      <img src="favicon.png" class="rotate shadow dib w32 h32 br-100 mr1 v-mid" alt="5ervice logo"> <span class="dn di-ns">5ervice</span>
    </a>
    <div class="dtc v-mid w-75 pa3 tr-l">
      <a routerLink="styleguide" routerLinkActive="b" (click)="setTitle( 'Etta / Styleguide' )" class="f6 link dib navy dim mr3 mr4-ns">Styleguide</a>
      <a routerLink="glossary" routerLinkActive="b" (click)="setTitle( 'Etta / Glossary' )" class="f6 link dib navy dim mr3 mr4-ns">Glossary</a>
      <a routerLink="components" routerLinkActive="b" (click)="setTitle( 'Etta / Components' )" class="f6 link dib navy dim mr3 mr4-ns">Components</a>
      <a routerLink="examples" routerLinkActive="b" (click)="setTitle( 'Etta / Examples' )" class="f6 dib navy dim no-underline">Examples</a>
      <!-- <a class="f6 dib navy grow no-underline pv2 ph3 br2 ba b--navy">Demo B</a> -->
    </div>
</nav>

<router-outlet></router-outlet>
