<nav class="w-100 pa3 ph5-ns flex justify-between-l sans-serif">
    <a routerLink="/" (click)="setTitle( 'Etta by 5ervice' )" class="serif link black-70 hover-black no-underline flex items-center pa3">
      Etta 
    </a>
    <div class="flex-grow pa3 flex-l items-center-l">
      <a routerLink="styleguide" routerLinkActive="b" (click)="setTitle( 'Etta / Styleguide' )" class="f6 link dib black dim mr3 mr4-ns">Styleguide</a>
      <a routerLink="glossary" routerLinkActive="b" (click)="setTitle( 'Etta / Glossary' )" class="f6 link dib black dim mr3 mr4-ns">Glossary</a>
      <a routerLink="components" routerLinkActive="b" (click)="setTitle( 'Etta / Components' )" class="f6 link dib black dim mr3 mr4-ns">Components</a>
      <a routerLink="examples" routerLinkActive="b" (click)="setTitle( 'Etta / Examples' )" class="f6 dib black dim no-underline mr2 mr3-ns">Examples</a>
      <!-- <a class="f6 dib black grow no-underline pv2 ph3 br2 ba b--black-60">Demo B</a> -->
    </div>
</nav>

<router-outlet></router-outlet>
